body {
  margin: 0;
  min-height: 100vh;
  background-image: url('Image/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  font-family: mojangles, Arial, sans-serif;
  color: white;
  padding: 25px 0px 0px 25px;
}

.blur {
  border-radius: 25px;
  backdrop-filter: blur(10px);
}

@font-face {
  font-family: mojangles;
  src: url(mojangles/mojangles.otf);
}

.header {
  color: rgb(224, 64, 104);
}

.avatar {
  width: 100px;
  height: 100px;
}

#canvas {
  display: block;
  width: 100%;
  max-width: 800px;
  height: auto;
  background-color: #000;
  border: 1px solid #444;
}